<section class="box-container">
    <div class="box-content" [formGroup]="formLogin">
        <p-card>
            <ng-template pTemplate="header">
                <h1>Login</h1>
            </ng-template>

            <ng-template pTemplate="content">
                <div class="box-form">
                    <span class="p-float-label">
                        <input type="text" pInputText formControlName="userName" name="userName" />
                        <label for="float-input-invalid">Usuário</label>
                    </span>
                </div>

                <div class="box-form">
                    <span class="p-float-label">
                        <input type="password" pInputText formControlName="password" name="password" />
                        <label for="float-input-invalid">Senha</label>
                    </span>
                </div>

                <div class="box-button">
                    <button pButton type="submit" label="login" (click)="login()" class="text-800 col-6"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="box-links">
                    <a href="#"><span>ESQUECEU A SENHA?</span></a>
                    <div class="box-account">
                        <span>
                            Não possui conta?
                            <a routerLink="/registerUser">Crie a sua</a>
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
</section>
<p-toast [showTransitionOptions]="'200ms'"></p-toast>