:host {
    --colors-orange-base: rgb(244, 117, 33);
    --colors-orange-brught: rgb(255, 148, 77);
    --colors-silver-chalice: rgb(160, 160, 160);
    --colors-scarpa-flow: rgb(89, 89, 91);
}

::ng-deep .box-container {
    margin: 12rem auto;

    .box-content {
        display: flex;
        justify-content: center;

        .p-card {
            .p-card-header {
                text-align: center;
                font-size: 1.75rem;
                font-weight: 500;
                text-transform: capitalize;
                padding-top: 2rem;
                margin-bottom: -1rem;
            }

            .p-card-content {
                .box-form {
                    margin: 2rem;
                }

                .box-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .p-button {
                        text-transform: capitalize;
                        border: none;
                        font-weight: 700;
                        background-color: var(--colors-orange-base);
                        font-size: 0.875rem;
                    }

                    .p-button:hover {
                        background-color: var(--colors-orange-brught);
                    }
                }
            }

            .p-card-footer {
                .box-links {
                    text-align: center;

                    a {
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 0.875rem;
                        color: var(--colors-silver-chalice);
                        transition: 0.5s;
                    }

                    a:hover {
                        color: var(--colors-scarpa-flow);
                        transition: 0.5s;
                    }

                    .box-account {
                        span {
                            font-size: 1.125rem;
                            font-weight: 500;

                            a {
                                color: var(--colors-orange-base);
                                text-decoration: none;
                                font-weight: 700;
                            }

                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}