<div class="flex justify-content-between flex-wrap card-container nav-color">
    <div class="flex align-items-center justify-content-center w-3rem h-3rem m-2">
        Logo
    </div>

    <div class="flex align-items-center justify-content-center w-3rem h-3rem m-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Pesquisar" />
        </span>
    </div>
    <div class="flex align-items-center justify-content-center w-3rem h-3rem m-2">
        <app-nav-menu></app-nav-menu>
    </div>
</div>