<div class="nav-color grid flex align-items-center">
    <div class="flex justify-content-start xl:col-8 col-8 mr-8 xl:mr-8 m-2">
        Logo
    </div>

    <div class="flex flex-row xl:col-3 col-3 justify-content-end" *ngIf="isLoggedIn, else loggedFalse">
        <div class="m-2 align-items-center flex">
            <i class="iconBackground pi pi-sign-out cursor-pointer" (click)="logout()"></i>
        </div>
        <div class="m-2">
            <app-nav-menu></app-nav-menu>
        </div>
    </div>
</div>

<ng-template #loggedFalse>
    <div class="flex flex-row xl:col-3 justify-content-end">
        <div class="m-2 align-items-center flex">
            <i class="iconBackground pi pi-sign-in cursor-pointer" (click)="login()"></i>
        </div>
        <div class="m-2">
            <app-nav-menu></app-nav-menu>
        </div>
    </div>
</ng-template>