<div class="nav-color flex align-items-center justify-content-between">
    <div class="flex justify-content-start ml-3 cursor-pointer" routerLink="mangas">
        Logo
    </div>

    <div class="flex flex-row justify-content-end m-2">
        <div class="flex align-items-center mr-3" *ngIf="isLoggedIn, else loggedFalse">
            <i class="iconBackground pi pi-sign-out cursor-pointer" (click)="logout()"></i>
        </div>
        <div class="mr-3">
            <app-nav-menu></app-nav-menu>
        </div>
    </div>
</div>

<ng-template #loggedFalse>
    <div class="flex align-items-center mr-3">
        <i class="iconBackground pi pi-sign-in cursor-pointer" (click)="login()"></i>
    </div>
</ng-template>