<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <p-dropdown [options]="mangaId" [(ngModel)]="selectedChapter" placeholder="Selecione o manga"
            optionLabel="mainTitle"></p-dropdown>
        <label for="dropdown">Selecione o manga</label>
    </span>
</div>
<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <input type="text" id="inputtext" pInputText [(ngModel)]="newChapter.titleChapter">
        <label for="inputtext">titleChapter</label>
    </span>
</div>
<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <input type="text" id="inputtext" pInputText [(ngModel)]="newChapter.linkPages">
        <label for="inputtext">linkPages</label>
    </span>
</div>
<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <input type="number" id="inputtext" pInputText [(ngModel)]="newChapter.pages">
        <label for="inputtext">pages</label>
    </span>
</div>
<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <input type="number" id="inputtext" pInputText [(ngModel)]="newChapter.numberChapter">
        <label for="inputtext">numberChapter</label>
    </span>
</div>
<div class="field col-12 md:col-4">
    <span class="p-float-label">
        <input type="number" id="inputtext" pInputText [(ngModel)]="newChapter.volume">
        <label for="inputtext">volume</label>
    </span>
</div>

<button type="submit" (click)="saveChapter()">teste</button>