<form (ngSubmit)="register()">
  <p-card>
    <ng-template pTemplate="header">
      <h1 class="text-center font-normal title-register capitalize">criar conta</h1>
    </ng-template>

    <ng-template pTemplate="content">
        <span class="p-float-label">
          <input type="text" id="inputUser" pInputText [(ngModel)]="registerUser.userName" name="userName">
          <label for="inputtext">Usuário</label>
        </span>

        <span class="p-float-label">
          <input type="password" id="inputPassword" pInputText [(ngModel)]="registerUser.password" name="password">
          <label for="inputtext">Usuário</label>
        </span>

      <div class="field-checkbox">
        <p-checkbox [(ngModel)]="registerUser.scan" [binary]="true" name="scan"></p-checkbox>
        <label for="binary">Você é um scan?</label>
      </div>

      <div>
        <button pButton type="submit" label="criar conta"
          class="capitalize button-register border-none font-bold"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="text-center">
        <span class="question-account-login ">
          Jà possui uma conta?
          <a href="" class="login fw-bold text-capitalize">login</a>
        </span>
      </div>
    </ng-template>
  </p-card>
</form>