<h3 class="text-center">Cadastre-se</h3>

<form class="form mt-4" (ngSubmit)="register()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nome do usuário" [(ngModel)]="registerUser.userName"
      name="userName" />
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="registerUser.password"
      name="password" />
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>