<h1 class="text-center fw-normal title-register text-capitalize">criar conta</h1>

<div class="row justify-content-center">
  <section class="col-12 col-lg-6">
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="inputEmail" class="form-label">Usuário*</label>
        <input type="email" class="form-control" id="inputEmail" [(ngModel)]="registerUser.userName" name="userName" />
      </div>

      <div class="form-group mt-3">
        <label for="inputPassword" class="form-label">Senha*</label>
        <input type="password" class="form-control" id="inputPassword" [(ngModel)]="registerUser.password"
          name="password" />
      </div>

      <div class="form-check mt-3">
        <input type="checkbox" class="form-check-input text-warning checkScan" id="exampleCheck1" [(ngModel)]="registerUser.scan" name="scan">
        <span class="form-check-label" for="exampleCheck1">Você é um scan?</span>
      </div>

      <div class="d-grid gap-2 col-12 col-lg-6 mx-auto m-3">
        <button type="submit" class="btn button-register text-uppercase fw-bold ">criar conta</button>
      </div>

      <div class="text-center">
        <span class="question-account-login ">
          Jà possui uma conta?
          <a href="" class="login fw-bold text-capitalize">login</a>
        </span>
      </div>
    </form>
  </section>
</div>