<section class="navigator">
  <a href="">Destaques</a>
  <a href="">Mais Lidos da Semana</a>
  <a href="">Mangás Mais Lidos</a>
  <a href="">Lançamentos</a>
  <a href="">Recém Adicionados</a>
  <a href="">Recém Finalizados</a>
</section>
<section class="carrousel">
  <a class="highlight-button"><span>Ver Todos os Destaques</span>👌</a>
  <article>
    <img
      src="https://static3.mangalivre.net/destaques/H7KuadWXcAh-L9GQ5r8aqg/9189/mashle.png"
      alt=""
    />
  </article>
  <aside class="chapter-info">
    
  </aside>
  <nav>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </nav>
</section>
