:host {
    --colors-orange-base: rgb(244, 117, 33);
    --colors-orange-brught: rgb(255, 148, 77);
    --colors-red-base: rgb(244, 33, 33);
    --colors-red-brught: rgb(255, 77, 77);
}

::ng-deep .box-manga-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    font-size: 1.75rem;
    font-weight: 500;
}

.return {
    background-color: var(--colors-red-base);
    transition: 0.3s;
}

.return:hover {
    background-color: var(--colors-red-brught);
    transition: 0.3s;
}

.register {
    background-color: var(--colors-orange-base);
    transition: 0.3s;
}

.register:hover {
    background-color: var(--colors-orange-brught);
    transition: 0.3s;
}