:host {
    --colors-orange-base: rgb(244, 117, 33);
    --colors-orange-brught: rgb(255, 148, 77);
}

@media (min-width: 390px) {
    .card-manga {
        margin-top: 0em;
    }
}

@media (min-width: 1280px) {
    .card-manga {
        margin-top: 6em;
    }
}

@media (min-width: 1920px) {
    .card-manga {
        margin-top: 10em;
    }
}

.titles {
    font-size: 1.75rem;
    font-weight: 500;
}

.register {
    background-color: var(--colors-orange-base);
    transition: 0.3s;
}

.register:hover {
    background-color: var(--colors-orange-brught);
    transition: 0.3s;
}