:host {
    --colors-orange-base: rgb(244, 117, 33);
    --colors-orange-brught: rgb(255, 148, 77);
    --colors-red-base: rgb(244, 33, 33);
    --colors-red-brught: rgb(255, 77, 77);
}


@media (max-width: 390px) {
    .card-manga {
        margin: 0em auto;
        max-width: 90vw;
    }
}

@media (min-width: 1280px) {
    .card-manga {
        margin: 6em auto;
        max-width: 90vw;
    }
}

@media (min-width: 1920px) {
    .card-manga {
        margin: 10em auto;
        max-width: 65vw;
    }
}

.titles {
    font-size: 1.75rem;
    font-weight: 500;
}

.return {
    background-color: var(--colors-red-base);
    transition: 0.3s;
}

.return:hover {
    background-color: var(--colors-red-brught);
    transition: 0.3s;
}

.register {
    background-color: var(--colors-orange-base);
    transition: 0.3s;
}

.register:hover {
    background-color: var(--colors-orange-brught);
    transition: 0.3s;
}